In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
data = pd.read_csv("t_argo_observation_110123.csv")

In [3]:
# Unique Number of Argo Floasts: 

unique_argos = len(data['argo_id'].unique())
print(unique_argos)

3855

In [4]:
# A Snapshot of top 5 rows of the data set

data.head()

   argo_id     observation_time  latitude  longitude
0    53553  1999-10-21 11:46:18   -12.290    106.734
1    53554  1999-10-22 21:05:46   -12.167    111.887
2    53555  1999-10-24 01:23:39   -13.216    115.992
3    53546  1999-10-25 07:24:50   -13.029    119.970
4    53553  1999-10-31 11:25:08   -12.581    106.347